

  <div class="generic-container" ng-controller="MessageForumController as ctrl">
         
                  <div class="form-group">
                   <h2>Leave a Replay</h2>
                  <form ng-submit="create()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.messageforum.id" />
                    
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="message"> </label>
                              <div class="col-md-7">
                                  <textarea rows="8" cols="80" ng-model="messageforum.forum_comment" id="forum_comment" class="form-control input-sm" placeholder="Enter your message." required>
                                  </textarea>
                              </div>
                          </div>
                      </div> <br>
                      
            
                      
 
                      
                      
                      
                      <div class="row">
                          <div class="form-actions floatRight text-center ">
                              <input type="submit"  value="{{!ctrl.messageforum.id ? 'Comment' : 'Update'}}" class="btn btn-success btn-sm" ng-disabled="myForm.$invalid">
                            
                             </div>
                      </div>
                      
                      <br/>
         
            </form> 








<div ng-controller="MessageForumController as ctrl">
<div ng-init="single_blog();">
<table>
<thead>
<tr>
<td>
</td>
</tr>
</thead>
<tr ng-repeat="c in messageforum">
<td>{{c}}</td>
</tr>
</table>
</div></div>











 
   
  




   <div ng-controller="MessageForumController as ctrl">

<div ng-init="single_blog();">
<div class="container-solid">
  <h2 class="text-center"> comment list</h2>
  <div ng-repeat="blogDetails in messageforum">
   
  <div class="panel panel-default"  >
   
    
    <div ng-maxlength="5" class="panel-body text-danger">{{blogDetails.forum_comment}}<hr></div>
    
    <h4 class="text-success">Commented By: {{blogDetails.user_id}} 
    <img ng-src="http://localhost:8080/RestController/static/images/{{blogDetails.user_id}}.jpeg"class="img-circle" width="80px">
    </h4>  Published On: {{blogDetails.comment_date| date:'longDate'}}</div>
  </div>
  </div>
  </div>
</div>
</div>
</div> 












  
 