<div class="container-fluid">
    <div class="navbar-header">
   
      <a class="navbar-brand" href="#/">Collaboration !!</a>
     
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/home">Home</a></li>
       <li><a href="#/login">Login</a></li>
     
    
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
    Blog<span class="caret">
    </span>
    </a>
      <ul class="dropdown-menu">
          <li><a href="#blog">List Blog</a></li>
          <li><a href="#blog-create">Create Blog</a></li>
          <li><a href="#blog-manage">Manage Blog</a></li>
          <li><a href="#myBlog">My Blog</a></li>
         
        </ul>
     
      </li>
  </div>
