<div class="container-fluid">
    <div class="navbar-header">
   
      <a class="navbar-brand" href="#/home">Collaboration ...!!!</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-hide="currentUser.id"><a href="#aboutus">AboutUs</a></li>
       <li ><a href="#contact">Contact</a></li>
     
    
    <li ng-show="currentUser.id" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
    Blog<span class="caret">
    </span>
    </a>
      <ul class="dropdown-menu">
          <li ><a href="#Blog">List Blog</a></li>
          <li><a href="#createBlog">Add New Blog</a></li>
           <li ng-show="currentUser.role =='Admin'"><a href="#list">Manage-Blogs</a></li>
        </ul>
     </li>
     
     <li ng-show="currentUser.id" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
    Forum<span class="caret">
    </span>
    </a>
      <ul class="dropdown-menu">
      <li><a href="#Cforum">Create-Forum</a></li>
          <li><a href="#myforum">Forum-List</a></li>
          
         
        </ul>
     </li>
     
     
     
     
     
    <li ng-show="currentUser.id" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
    Job<span class="caret">
    </span>
    </a>
      <ul class="dropdown-menu">
          <li><a href="#listjob">List Job</a></li>
          <li ng-show="currentUser.role =='Admin'"><a style="color:black !important" href="#create">create job</a></li>
         <li ng-show="currentUser.role =='Admin'"><a href="#manage">Manage-Jobs</a></li>
          <li ng-show="currentUser.role =='Admin'"><a href="#view">view applied</a></li>
        </ul>
     </li>
     
      <li ng-show="currentUser.id" class="dropdown">
      <a data-toggle="dropdown" href="">
      Friends<span class="caret"></span></a>
       <ul class="dropdown-menu">
      <li><a href="#users">All Users</a></li>
      <li><a href="#viewrequest">View-Request</a></li>
      <li><a  href="#friends">Friends</a></li>
      </ul>
      </li>
     
     <!-- <li ng-show="currentUser.id"><a href="#profile">Profile</a></li> -->
     <li ng-show="currentUser.id"><a href="#edit">Profile</a></li>
     
      <li ng-show="currentUser.id"><a href="#upload">Upload & Download</a></li>
     
     
     
     <ul class="nav navbar-nav navbar-right">
      <li ng-show="currentUser.id"><a ><img ng-src="http://localhost:8080/RestController/static/images/{{currentUser.id}}.jpeg" style="width:20px; height:20px;  " class="profile-image img-circle special-img"/></a></li> 
     <li ng-show="currentUser.id"><a href="#edit" class="text-success"><span></span> Welcome {{currentUser.name}} !!!</a></li>
      <li ng-hide="currentUser.id"><a href="#register"><span></span> Sign Up</a></li>
      <li ng-hide="currentUser.id"><a href="#login"><span></span> Login</a></li>
      <li ng-show="currentUser.id"><a ng-click="logout()" href="#logout"><span></span> Logout</a></li>
    </ul>
  </div>

 