
<head>
<style>
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>

</head>




<h2 class="text-center text-primary" >Welcome to Collaboration</h2>
<!-- <img src='D:\\akshat_project\\BackEndDemo\\src\\main\\webapp\\static\\images\\{{currentUser.id}}.jpeg' /> -->

<!-- <img ng-src="http://localhost:8080/RestController/static/images/{{currentUser.id}}.jpeg"/>
<img ng-src="http://localhost:8080/RestController/static/images/female.jpg"/>
<img ng-src="http://localhost:8080/RestController/static/images/{{currentUser.id}}.jpeg" style="width:4%"/> -->

<center>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:1000px; height:200px;  margin:8px;">
  <!-- Indicators -->
  <ol class="carousel-indicators" >
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <div class="text-primary text-center"></div>
      <img src="image/carousel.jpg" alt="Los Angeles" style="width:1000px; height:200px;  margin:8px;">
    </div>

    <div class="item">
     <div class="text-primary text-center"></div>
      <img src="image/1234.jpg" alt="Chicago" style="width:1000px; height:200px;  margin:8px;"> 
     
      
    </div>
<!-- style="width:1500px; height:500px;  margin:8px;" -->
    <div class="item">
      <img src="image/carousel.jpg" alt="New York" style="width:1000px; height:200px;  margin:8px;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div></center>

<br><br>
<!-- ##################################################################################################### -->

     <h2 class="text-center text-primary">Now time  to connect with Close people......!!!</h2>
     
     
      
       
       
       
       
       
       <div style="background-color:black;color:white;padding:20px;">
    <img ng-src="http://localhost:8080/RestController/static/images/akshat.jpeg"class="img-circle" width="80px">
  <p> In today(In Modren Day) digital age, various collaboration tools exist to help two or more people to reach a common goal. 
  The project focuses on creating a collaboration tool that can be used by multiple people – irrespective of their geographical location.</p>

  <p>Synchronous, where everyone interacts in real time, as in online meetings, through instant messaging, or via Skype, and
Asynchronous, where the interaction can be time-shifted, as when uploading documents or annotations to shared workspaces,  or making contributions to a wiki</p>
</div>  
     
     <br><br>
     
    <!--  <div style="background-color:white;color:black;padding:20px;">
    <img ng-src="http://localhost:8080/RestController/static/images/radha.jpeg"class="img-circle" width="80px"style="float:right;" >
    <p> I have been writing blog posts for almost two years now. And I finally wrote one that pretty much says what I think a blog "is". 
    I try not to be radical when blogging for obvious reasons. 
    But when I wrote this post I just couldn't resist taking a shot at newspapers. 
    Because I think blogs and newspapers are the yin and the yang of the news collecting world. </p>
    </div> -->
     
     <br> 
     
     
     
     
     <div class="background">
  <div class="transbox">
   <img ng-src="http://localhost:8080/RestController/static/images/radha.jpeg"class="img-circle" width="100px"style="float:right;" >
    <p> I have been writing blog posts for almost two years now. And I finally wrote one that pretty much says what I think a blog "is". 
    I try not to be radical when blogging for obvious reasons. 
    But when I wrote this post I just couldn't resist taking a shot at newspapers. 
    Because I think blogs and newspapers are the yin and the yang of the news collecting world. </p>
  </div>
</div>
     
     
     
     
     <center>
     <img src="image/source.gif" alt="Los Angeles" style="width:1000px; height:200px;  margin:8px;"></center>
<!-- ##################################################################################################### -->
 <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center"></h3>
  <p class="w3-center w3-large"></p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-half">
  
  
      <br>
  
    </div>
    <div class="w3-half">
   </div>
  </div>
</div>

<center>
<footer class="w3-center w3-black w3-padding-64">

   <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">akshat.960@gmail.com</a></p>
</footer>
 
</center>
 