<div class="container-fluid">
    <!-- <div class="navbar-header">
   
      <a class="navbar-brand" href="#/home">Collaboration !!</a>
     
    </div> -->
    <ul class="nav navbar-nav">
    
        <li><a href="#friends">your Friends</a></li>
        <li><a href="#users">Friend-Request</a></li>
       </ul></div>
     

<body>
        
        
        
        
   <div class="container well span6" style="width:500px; height:400px;  margin:8px;">
	<div class="row-fluid">
        <div class="span2" >
        
        
         <img src="https://www.infrascan.net/demo/assets/img/avatar5.png" class="img-circle" width="100px">
              
              
             
              <br>
              <h2>  {{currentUser.name}}</h2>
              
           <br><br>
           
          <div class="col-md-4 col-xs-12 col-centered">
         <div class="" style="border-radius: 50px;"><div class="col-md-6 " style="margin-top: -10px;"><strong>Email</strong></string></div><div class="col-md-6" style="text-decoration: underline;margin-top: -10px;">{{currentUser.email}}</div></div>
         </div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         </div>   
           
           <br>
           <br>
              
         <div class="col-md-4 col-xs-12 col-centered">
         <div class="" style="border-radius: 50px;"><div class="col-md-6 " style="margin-top: -10px;"><strong>ADDRESS</strong></string></div><div class="col-md-6" style="text-decoration: underline;margin-top: -10px;">{{currentUser.address}}</div></div>
         </div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         </div>        
              
           <br>   
           <br>
           
           
            <div class="col-md-4 col-xs-12 col-centered">
         <div class="" style="border-radius: 50px;"><div class="col-md-6 " style="margin-top: -10px;"><strong>Mobile</strong></string></div><div class="col-md-6" style="text-decoration: underline;margin-top: -10px;">{{currentUser.mobile}}</div></div>
         </div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         </div>
           
           
          
         <div class="col-md-4 col-xs-12 col-centered">
         
          <a href="">Delete Account</a>
         
         </div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         
        
        
        
    </body>