



<div ng-controller="BlogController as ctrl">
<div ng-init="fetchAllBlogs()">

<div class="container">
  <h2 class="text-center">All Blogs List</h2>
  <div ng-repeat="blogDetails in ctrl.blogs">
 <!--  <div ng-hide="blogDetails.status =='N'"> -->
  <div class="panel panel-primary">
    <div class="panel-heading text-center"><h3>{{blogDetails.blog_name}}</h3></div>
    
    <div ng-maxlength="5" class="panel-body">{{blogDetails.description}}<!-- | limitTo: 400 -->
<!--     <div style="float:right;"><a href="#blog/{{blogDetails.id}}" ng-click="single_blog(blogDetails.id)">Read More</a></div></div>
 -->    <br>
 

    <div class="panel-footer"><h3 class="text-success">Created By: {{blogDetails.user_id}} </h3>  Published On: {{blogDetails.create_date| date:'longDate'}}</div>
  </div>
  </div>
  </div>
</div>
</div>
</div>

