
 <div class="generic-container text-center" ng-controller="BlogController as ctrl">
  <div class="panel panel-success">
   <div class="panel-heading"><span class="lead">Create New Blogs</span></div><br>
   <div class="formcontainer">
    <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
     <input type="hidden" ng-model="ctrl.blog.id" />
           <div class="row">
            <div class="form-group col-md-12">
            <label class="col-md-2 control-lable text-primary" for="blog_name">Blog Title :</label>
               <div class="col-md-7">
               <input type="text" ng-model="ctrl.blog.blog_name" id="blog_name" class="title form-control input-sm" placeholder="Enter your blog title" required/>
               </div> </div></div>
           <div class="row">
            <div class="form-group col-md-12">
             <label class="col-md-2 control-lable text-primary" for="description">Description :</label>
               <div class="col-md-7">
               <textarea rows="8" cols="80" ng-model="ctrl.blog.description" id="description" class="form-control input-sm" placeholder="Enter your blog description." required>
                </textarea> </div></div> </div> 
        <div class="row">
         <div class="form-actions floatRight  text-center">
          <input type="submit"  value="Create-Blog" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
          <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Blog</button>
           </div> </div> </form>
                       
                       
                       <br><br>
                       <!-- <h3  >Created By <h2 ng-repeat="u in ctrl.blogs" class="text-warning">{{u.user_id}}</h2></h3> -->
                       <!-- <div class="container">
                  <table class="table">

<tr ng-repeat="u in ctrl.blogs"><td><table><tr>
</tr>
<tr><td><table><tr><td> </td></tr>
{{u.user_id}}
<tr><td ng-bind="u.title">{{ u.blog_name }}</td><tr>
<tr><td ng-bind="u.description">{{ u.description }}</td></tr>
<tr><td><table>
<th><td><button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-primary custom-width">Edit</button></td> </th>
<th><td> <a href="manage_blog_remove?id={{ u.id }}"  onclick="return confirm('Are you sure?')">Remove</a> </td></th>
 </table></td> </tr>
</table></td><tr></table></td>
</tr></table>
               </div>   -->
               
<!--==============###############@@@@@@@@@@@@@@@@####################@@@@@@@@@@@@@@@@@@@@@@@######################@@@@@@@@@@@@@@@@@@======================-->               

<div class="container">
<div ng-init="getUserBlog()" ng-controller="BlogController as c">
<table class="table table-hover table-condensed table-bordered" border="1">
<thead>
<tr>
<th>ID</th>
<th>TITLE</th>
<th>USER ID</th>
<th class="col-lg-1">DATE TIME</th>


<th>DESCRIPTION</th>
<th class="col-lg-2">OPERATIONS</th>
</tr>
</thead>
	
   <tr ng-repeat="blogDetails in ctrl.blogs" ng-if="blogDetails.user_id == currentUser.id ">
   
   <td>{{blogDetails.id}}</td>
   <td ng-bind="blogDetails.blog_name">{{blogDetails.blog_name}}</td>
   <td>{{blogDetails.user_id}}</td>
   <td>{{blogDetails.create_date| date:'longDate'}}</td>
   
   
   
   
   <td ng-bind="blogDetails.description">{{blogDetails.description}}</td>
   <td ><a href="#list" ng-click="remove(blogDetails.id)">DELETE</a>
 <td><button type="button" ng-click="ctrl.edit(blogDetails.id)" class="btn btn-primary custom-width">Edit</button></td> 
   	
   </tr>
	

</table>
</div>
</div></div> </div></div>


