<!-- <head>
 <style>
body {
  background-color:#ccc;
}
</style> 
</head> -->
<center>
<p class="text-center">Welcome to admin page</p>
 
 <div class="container">
<div ng-init="getUserBlog()" ng-controller="BlogController as c">
<table class="text-default" border="5" bordercolor="blue" align="center"  style="width:1000px; height:200px;  margin:8px;">
<thead>
<tr>
<th>ID</th>
<th>TITLE</th>
<th>USER ID</th>
<th class="col-lg-1">DATE TIME</th>
<!-- <th>STATUS</th> -->

<th>DESCRIPTION</th>
<th class="col-lg-2">OPERATIONS</th>
</tr>
</thead>
	
   <tr ng-repeat="blogDetails in c.blogs" ">
   
   <td>{{blogDetails.id}}</td>
   <td>{{blogDetails.blog_name}}</td>
   <td>{{blogDetails.user_id}}</td>
   <td>{{blogDetails.create_date| date:'longDate'}}</td>
   
   
   <!-- <td ng-if="blogDetails.status == 'Y'">Accepted</td>
   <td ng-if="blogDetails.status == 'N'">Rejected</td>
   <td ng-if="blogDetails.status == 'P'">Pending</td> -->
   
   <td>{{blogDetails.description}}</td>
   <td >
   <a href="" ng-click="c.remove(blogDetails.id)" class="text-danger"><span class="glyphicon glyphicon-trash" style="color:red; "></a>
   <a ng-if="blogDetails.status == 'N' " href="" ng-click="blogAccept(blogDetails)">| Accept</a>
   <a ng-if="blogDetails.status== 'Y'" href="#list" ng-click="blogReject(blogDetails)">| Reject</a>
   </tr>
	

</table>
</div>
</div></center>